{% extends "base.html" %}
{% load static %}

{% block title %} Home {% endblock %}
{% block container %}
<div class="main-login main-center">
        {% if error1 %}
        <div class="alert alert-danger alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Error!</strong><p>Some Error Occured</p>
                <p>Please Provide The Valid Information.</p>
                <p>And Try Again</p>
              </div>
        {% endif %}
        <div class="text-center">
                <h2 style="color: teal;"><strong>Fantasy</strong></h2>
                <br>
            </div>
    <form class="needs-validation" method="post" novalidate>
            {% csrf_token %}
        <div class="form-group">
            <label for="League Code">Enter Your League Code here</label>
            <input type="number" name="league" class="form-control" id="league" aria-describedby="leagueHelp" placeholder="Enter league Code" value="520303" required="true">
            <div class="invalid-feedback">
                    Please Provide valid League ID
                </div>
                
            <small class="text-muted">You can get the league id from 
                <a href="https://fantasy.premierleague.com/a/leagues/main">List of your League</a>
                 and select a league you want and get the number at address bar
                 <img src={% static 'img/Selection_011.png' %} >
                 <br>
                Eg.520303
            </small>
            
        </div>
        <div class="form-group">
            <label for="Gameweek">Enter Gameweek Number</label>
            <input type="number" name="gw" class="form-control" id="gw" min=1 max=38 aria-describedby="gwHelp" placeholder="Enter Gameweek No" value="1" required="true">
            <div class="invalid-feedback">
                    Please Provide GameWeek Number (1-38)
            </div>
        </div>
        <div class="form-group">
                <label for="leaguetype">Select League Type</label>
                <div class="form-check">
                        <input class="form-check-input" type="radio" name="leaguetype" id="classic" value="classic" checked>
                        <label class="form-check-label" for="classic">
                          Classic
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="leaguetype" id="h2h" value="h2h" >
                        <label class="form-check-label" for="h2h">
                          Head To Head
                        </label>
                      </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}
